/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fix p5 overflow */
canvas {
    display: block;
}

/* Base Styles */

@import url("https://use.typekit.net/hyn4cgn.css");

html,
body {
    font-family: nunito, sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin-right: 0;
}