/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fix p5 overflow */
canvas {
    display: block;
}

/* Base Styles */
html,
body {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin-right: 0;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.7rem;
}

/* background with lowered opacity, text with full */
@media(max-width: 799px) {
    .bg {
        background-color: var(--dark-grey);
    }
}

@media(min-width: 800px) {
    .bg {
        position: relative;
        z-index: 1;
    }
    
    .bg::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;  
        opacity: 0.85; 
        z-index: -1;
        background-color: unset;
        background-image: url('images/portfolioBG_BW.png');
        background-size: cover;
        background-attachment: fixed;
      }

    .bg:nth-of-type(3),
    .bg:nth-of-type(6),
    .bg:nth-of-type(9),
    .bg:nth-of-type(11) {
        grid-column: span 2;
    }
}

::-webkit-scrollbar {
    width: 20px;
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border: 0.25rem solid var(--black);
    border-radius: 1rem;

}