/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fix p5 overflow */
canvas {
    display: block;
}

/* Base Styles */
html,
body {
    font-family: monospace;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    margin-right: 0;
}

a {
    text-decoration: none;
}

.bg {
    background: url('images/beach.jpg');
}

@media(min-width: 800px) {
    .bg:nth-of-type(5) {
        grid-column: span 2;
    }
}

::-webkit-scrollbar {
    width: 20px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border: 0.25rem solid black;
    border-radius: 1rem;

}